// пример - убирать 
%flex-align {
    display: flex;
    align-items: center;
}
// конец примера
@mixin font($fw, $fs, $lh, $ls){
    font-weight: $fw;
    font-size: $fs+px;
    line-height: $lh;
    letter-spacing: $ls+em;
}